<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.wechatshop.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.ssm.wechatshop.entities.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="buildingNo" jdbcType="VARCHAR" property="buildingNo" />
    <result column="roomNo" jdbcType="VARCHAR" property="roomNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>

  <sql id="Base_Column_List">
    id, openId, province, city, school, buildingNo, roomNo, name, phone
  </sql>


  <!--查询语句 按照id查找 -->
  <select id="findById" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>



  <!--查询语句 查看全部-->
  <select id="findAll" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address
  </select>


  <!--查询语句 分页查询 -->
  <select id="findByPage" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>


  <!--按照其他条件查询:比如：用户名，省份，城市，学校，楼号，房间号，收货人姓名（使用and连接）-->
  <select id="findByType" parameterType="com.ssm.wechatshop.entities.Manager"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from address where 1=1
    <if test="openId!=null and !&quot;&quot;.equals(openId.trim())">
      and openId=#{openId}
    </if>

    <if test="province!=null and !&quot;&quot;.equals(province.trim())">
      and province=#{province}
    </if>

    <if test="city!=null and !&quot;&quot;.equals(city.trim())">
      and city=#{city}
    </if>

    <if test="school!=null and !&quot;&quot;.equals(school.trim())">
      and school=#{school}
    </if>

    <if test="name!=null and !&quot;&quot;.equals(name.trim())">
      and name=#{name}
    </if>

    <if test="buildingNo!=null and !&quot;&quot;.equals(buildingNo.trim())">
      and buildingNo=#{buildingNo}
    </if>

    <if test="roomNo!=null and !&quot;&quot;.equals(roomNo.trim())">
      and roomNo=#{roomNo}
    </if>

  </select>




  <!--主键自动增长，不用插入-->
  <!--插入-->
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
   insert into address ( openId, province,
      city, school, buildingNo,
      roomNo, name, phone
      )
    values ( #{openId,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
      #{city,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{buildingNo,jdbcType=VARCHAR},
      #{roomNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>


  <!--修改-->
  <update id="update" parameterType="com.ssm.wechatshop.entities.Manager">
    update address
    set openId = #{openId,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      buildingNo = #{buildingNo,jdbcType=VARCHAR},
      roomNo = #{roomNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--按照id删除-->
  <delete id="delete" parameterType="int">
     delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <!-- 多个删除操作 -->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from address where id in(
    <foreach collection="list" item="item" separator=",">
      #{item}
    </foreach>
    )
  </delete>

  <!--按照用户名删除-->
  <delete id="deleteByOpenId" parameterType="String">
    delete from address
    where openId = #{openId,jdbcType=VARCHAR}
  </delete>

</mapper>