<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.wechatshop.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.ssm.wechatshop.entities.Indent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wareist" jdbcType="VARCHAR" property="wareist" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="managerPhone" jdbcType="VARCHAR" property="managerPhone" />
    <result column="checkOut" jdbcType="INTEGER" property="checkOut" />
    <result column="delivery" jdbcType="INTEGER" property="delivery" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>


  <sql id="Base_Column_List">
    managerId, name, password, buildingNo, school, phone, idNumber
  </sql>
  <!--查询语句 按照id查找 -->
  <select id="findById" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from indent
    where id = #{indentId,jdbcType=INTEGER}
  </select>

  <!--查询语句 查看全部-->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from indent
  </select>


  <!--查询语句 分页查询 -->
  <select id="findByPage" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from indent
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>


  <!--按照自定义条件查找，查询语句 拼接sql条件语句 -->
  <select id="findByType" parameterType="com.ssm.wechatshop.entities.Indent"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manager where 1=1
    <if test="userId!=null and !&quot;&quot;.equals(userId.trim())">
      and userId=#{userId}
    </if>
    <if test="managerPhone!=null and !&quot;&quot;.equals(managerPhone.trim())">
      and managerPhone=#{managerPhone}
    </if>
    <if test="checkOut!=null and checkOut>0">
      and checkOut=#{checkOut}
    </if>
    <if test="delivery!=null and delivery>0">
      and delivery=#{delivery}
    </if>
   	<if test="status!=null and !&quot;&quot;.equals(status.trim())">
      and status=#{status}
    </if>
    <if test="time!=null and !&quot;&quot;.equals(time.trim())">
      and time=#{time}
    </if>

  </select>



  <!--单行插入语句
      如果你的数据库支持自动生成主键的字段（比如 MySQL 和 SQL Server），
      那么你可以设置 useGeneratedKeys=”true”，然后再把 keyProperty 设置到目标属
      性上就OK了。例如，如果上面的 Author 表已经对 id 使用了自动生成的列类型，那么语句可以修改为: -->
  <!-- 单个删除操作 -->
  <!--插入-->
  <insert id="insert"  useGeneratedKeys="true" keyProperty="managerId">
    insert into indent(wareList, price, userId, managerPhone, checkOut, delivery, status, time)
    values (#{wareList},#{price},#{userId},#{managerPhone},#{checkOut},#{delivery},#{status},#{time})
  </insert>


  <!--修改-->
  <update id="update" parameterType="com.ssm.wechatshop.entities.Manager">
    update manager
    set
    wareList=#{wareList}, 
    price=#{price}, 
    userId=#{userId}, 
    managerPhone=#{managerPhone}, 
    checkOut=#{checkOut}, 
    delivery=#{delivery}, 
    status=#{status}, 
    time=#{time}

    where id=#{id}
  </update>

  <delete id="delete" parameterType="int">
    delete from indent where id=#{id}
  </delete>


  <!-- 多个删除操作 -->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from indent where id in(
    <foreach collection="list" item="item" separator=",">
      #{item}
    </foreach>
    )
  </delete>

</mapper>