<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.wechatshop.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.ssm.wechatshop.entities.Manager">
    <id column="managerId" jdbcType="INTEGER" property="managerId" />
    <result column="m_name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="buildingNo" jdbcType="VARCHAR" property="buildingNo" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="idNumber" jdbcType="VARCHAR" property="idNumber" />
  </resultMap>


  <sql id="Base_Column_List">
    managerId, name, password, buildingNo, school, phone, idNumber
  </sql>
  <!--查询语句 按照id查找 -->
  <select id="findById" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manager
    where managerId = #{managerid,jdbcType=INTEGER}
  </select>

  <!--查询语句 查看全部-->
  <select id="findAll" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manager
  </select>


  <!--查询语句 分页查询 -->
  <select id="findByPage" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manager
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>


  <!--按照自定义条件查找，查询语句 拼接sql条件语句 -->
  <select id="findByType" parameterType="com.ssm.wechatshop.entities.Manager"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from manager where 1=1
    <if test="name!=null and !&quot;&quot;.equals(name.trim())">
      and name=#{name}
    </if>

    <if test="school!=null and !&quot;&quot;.equals(school.trim())">
      and school=#{school}
    </if>

    <if test="idnumber!=null and !&quot;&quot;.equals(idnumber.trim())">
      and idNumber=#{idnumber}
    </if>

  </select>



  <!--单行插入语句
      如果你的数据库支持自动生成主键的字段（比如 MySQL 和 SQL Server），
      那么你可以设置 useGeneratedKeys=”true”，然后再把 keyProperty 设置到目标属
      性上就OK了。例如，如果上面的 Author 表已经对 id 使用了自动生成的列类型，那么语句可以修改为: -->
  <!-- 单个删除操作 -->
  <!--插入-->
  <insert id="insert"  useGeneratedKeys="true" keyProperty="managerId">
    insert into manager(name, password, buildingNo, school, phone, idNumber)
    values (#{name},#{password},#{buildingno},#{school},#{phone},#{idnumber})
  </insert>


  <!--修改-->
  <update id="update" parameterType="com.ssm.wechatshop.entities.Manager">
    update manager
    set
    password=#{password},
    name=#{name},
    buildingNo=#{buildingno},
    school=#{school},
    phone=#{phone},
    idNumber=#{idnumber}

    where managerId=#{managerid}
  </update>

  <delete id="delete" parameterType="int">
    delete from manager where managerId=#{managerid}
  </delete>


  <!-- 多个删除操作 -->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from manager where managerId in(
    <foreach collection="list" item="item" separator=",">
      #{item}
    </foreach>
    )
  </delete>


</mapper>